@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*reset css*/
html {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, p, span {
    margin: 0;
    color: #666;
}

.container {
    max-width: 1920px;
    width: 100%;
}



/*header style*/
header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

nav::after {
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo {
    width: 120px;
    height:100%;
    margin-top: 25px;
}

.nav-container ul {
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container li {
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav-container li a {
    text-decoration: none;
    color: #666;
    transition: 5.s;
}

.nav-container li a:hover {
    color: #3381f3;
 
}


/*banner style*/
#main-banner {

    background-image:
    linear-gradient(to bottom,
    rgba(245, 246, 252, 0.52),
    rgba(117, 19, 93, 0.73),
    rgba(245, 246, 252, 0.52)),
    url('./img/banner1.jpg');
    background-size: cover;
    background-position: 0 55%;
    position: relative;
    margin-top: 100px;

}

#search-form {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15em;
    padding-bottom: 15em;
    text-align: center;
}

#search-form h1 {
    font-size: 30px;
    color: #fff;
}

#search-form p {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 300;
    color: #ccc;
}

#search-form input, #search-form select {
    background-color: #fff;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
}

#search-form input[type=submit] {
    background-color: #3381f3;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

#search-form input[type=submit]:hover {
    background-color: #0000eb;
}



/* ultimos empregos */

#lastjobs-container {
    text-align: center;
    padding: 100px 0;
}

.wrapper {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#lastjobs-container h1 {
    font-size: 36px;
    margin-bottom: 50px;
}

#lastjobs-container ul {
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#lastjobs-container ul li {
    list-style: none;
    text-align: left;
    border-bottom: 1px solid #ccc;
    height: 80px;
    position: relative;
}
#lastjobs-container ul li:last-child {
    border: none;
}

.clickarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*imagem company*/

.company-box {
    display: inline-block;
    width: 50%;
    position: relative;
    padding-left: 1%;
}

.company-box img {
    width: 100px;
    margin-top: 25px;
}

.company-info {
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
    text-align: left;
    position: absolute;
}


.company-info h3 {
    font-weight: 300;
    margin-bottom: 10px;
}

.company-info p {
    font-weight: bold;
}


